html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}
 

body .elementor  {

  a, p, div, h1, h2, h3, h4, h5, h6, section, main {
    font-family: "Mulish", sans-serif;
  }

}

.desktop-tablet-only {
  @include mobile {
    display: none;
  }
}

span.strong-text {
  color: $color-blueish;
  font-family: sofia-pro-soft;
  font-size: 30px;
  line-height: 1.3;
}

.no-margin {
  p {
    margin: 0;
  }
}


/** 
  * DEV UTILITIES
*/

.utility-link {
  background: $color-dark-blue;
  color: $color-white!important;
  padding: 5px 50px;
  text-decoration: none!important;
  z-index: 100000;
  font-size: 16px;
  position: fixed;
  top: 65px;
  right: -65px;
  transform: rotate(45deg);

  @include tablet {
    display: none;
  } 
}


.full-height {
  height: 100vh;
}