body .elementor {
  .lottie-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 0vh;
    max-width: 1818px;
    min-width: 1325px;
    @include tablet {
      max-width: 100vw;
    }
    


    .elementor-widget-container {
      position:absolute;
      bottom: 0;
    }
  }
}