.lightbox {
  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000000;

    i {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      color: rgba($color-white, 0.8);
      font-size: 60px;
      cursor: pointer;
      z-index: 100;
      text-shadow: 0 0 10px rgba($color-dark-blue, 0.5);
  
      @include mobile {
        top: calc(100% - 70px);
      }

      &.next {
        right: 5%;
      }
      &.prev {
        left: 5%;
      }
    }
  }

  &__overlay {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include pretty-gradient();
  }

  &__close {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 60px;
    color: rgba($color-white, 0.8);
    cursor: pointer;
    z-index: 1000;
  }
  &__image {
    position:fixed;

    top: 50%;
    left: 50%;
    width: 80vw;
    @include mobile {
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    

    transform: translateY(-50%) translateX(-50%);

    img {

      max-height: calc(100vh - 60px); 
      

    }

    
  }
  

}