@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin pretty-gradient {
  background: linear-gradient(146deg, rgba(56, 173, 167, 0.8), rgba(6, 24, 68, 0.8));
}

@mixin typo-smalltitle {
  font-size: 29px;
  font-weight: 700;
}

@mixin typo-text {
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}

@mixin typo-newsparagraph {
  font-size: 20px;
  line-height: 30px;
}

@mixin button($background, $color) {
  background: $background;
  color: $color;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding: 15px 20px;
  display: inline-block;
}
