$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #203C66;
$color-transparent: transparent;
$color-blueish: #577087;
$color-grey: #939699;
$color-text: #485166;
$color-text2: #61788E;
$color-light-grey: #d9d9da;
$color-button: #38ada7;
$color-very-light-grey: #eeeeee;
$color-very-very-light-grey: #f1f1f1;

$color-nav: rgba(249, 230, 107, 0.95);
$color-yellow: #F9E66B;
$color-red: #ec5150;