body .elementor 
.ast-button, .button, button, input[type=button], input[type=reset], input[type=submit]
 {
  background: $color-dark-blue;
  transition: all 0.3s ease-out;
  &:hover {
    background: $color-red;
  }
}