body.admin-bar .elementor .mainmenu {
  top: 30px;
  @media (max-width: 782px) {
    top: 0;
  }
}

// DEV
body.elementor-editor-active .elementor .mainmenu {
 // display: none;
}

body .elementor {

  .mainmenu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: $color-nav;

    //
  }    

  .lottie-logo {
    .e-lottie__container {
      max-width: 110px;
    }
  }

  #menu-main-menu {
    flex-flow: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    li {
      padding: 4px 20px;
      font-size: 20px;
      font-weight: 700;
      
      a {
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        &:hover {
          border-bottom: 2px solid $color-dark-blue;
        }
      }

      &:last-child {
        border-radius: 3px;
        background: $color-dark-blue;
        border: 2px solid transparent;
        transition: all .3s ease-in-out;
        a {
          color: $color-white;
          border-bottom: none;
        }

        &:hover {
          background: darken($color-dark-blue, 5%);
        }
      }
    }

    display: flex;
    @include tablet {
      display: none;
    }

    
  }


  #menu-mobile-menu {
    transform: translateX(100%);
    transition: all .3s ease-out;

    &.active {
      transform: translateX(0);
    }
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    bottom: -30px;
    top: 0;
    
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 50px;
    background: $color-red;
    z-index: 5;
    list-style: none;
    li {

      padding-bottom: 20px;
      
      position: relative;
      transition: all 0.3s ease-out;
      &:not(:last-child):hover {
        
        transform: translateX(20px);
        a {
          color: $color-yellow;
        }
      }

      a {
        color: $color-white;
        font-family: "Mulish", sans-serif;
        font-weight: 800;
        font-size: 25px;
        
      }

      &:last-child {
        a {
          color: $color-yellow;
        }
      }
    }
  }

}

// body:not(.home) {
//   #menu-main-menu {
//     display: none;
//   }
// }