.burger-menu {
  cursor: pointer;
  &__line {
    &1, &2, &3 {
      height: 2px;
      background: $color-red;
      margin-bottom: 5px;
      transition: all 0.2s ease-out;
    }

    &1, &3 {
      width: 20px;
    }
    &2 {
      width: 15px;
    }
  }

  &.active { 
    .burger-menu__line {
      &1 {
        transform: translateY(7px) rotate(45deg) ;
      }
      &2 {
        width: 0; 
      }
      &3 {
        transform: translateY(-7px) rotate(-45deg) ;
      }
    }
  }
}  

body .burger-menu {
  display: none;
  @include tablet {
    display: block;
  }
}