/*
Theme Name: Fida
Author: Multiply Agency
Template: astra
Author URI: https://multiplyagency.com
Description: The theme for Draught
Version: 1.0.0
License:
License URI:
Tags:
*/
span.strong-text {
  font-size: 22px;
  font-weight: 600;
}