body .elementor {
  .article-grid { 
    display: grid;
    grid-template-columns: .75fr .75fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "article-1 article-1 article-2"
      "article-1 article-1 article-3"
      "article-1 article-1 article-4";
  }
  
  .article-1 { grid-area: article-1; }
  
  .article-2 { grid-area: article-2; }
  
  .article-3 { grid-area: article-3; }
  
  .article-4 { grid-area: article-4; }
  
  .ag {
    &__article {
      display: block;
      &:first-child {
        display: flex;
        justify-content: flex-end;
        flex-flow: column;
      }
  
      min-height: 200px;
      
      color: $color-white;
      padding: 15px 15px;
    }
    &__text {
      @include typo-newsparagraph;
    }
    &__title {
      @include typo-smalltitle;
      margin-bottom: 15px;
    }
    &__content {
  
    }
    &__link {
      @include typo-newsparagraph;

      font-weight: 700;
    }
  } 
}
