body .elementor {
  .fida_cta {
    &__image {
      min-height: 260px;
      border-radius: 4px;
    }
    &__icon {
      margin: 10px 0;
      &, i {
        color: $color-yellow;
        font-size: 40px;
      }
    }
    &__title {
      font-family: "Mulish", sans-serif;
      color: $color-yellow; 
     // min-height: 70px;
      @include typo-smalltitle;
    }
    &__content {
      color: $color-white;
      @include typo-text;
    }
    &__link a {
      @include button($color-dark-blue, $color-yellow);
      margin-top: 30px;
    }
  }
}

