body .elementor .simple_cta {
  transition: all 0.5s ease-out; 
  &:hover {
    transform: scale(1.03);
  }
  &__img {
    border-radius: 4px;
  }
  &__title {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 35px;
    padding-top: 10px;
    color: $color-red; 
  }
}