body .elementor .video-cta {

  transition: all 0.5s ease-out;
  &:hover {
    transform: scale(1.03);
  }

  &__title {
    font-family: "Mulish", sans-serif;
    color: $color-dark-blue;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
  }

  &__image {
    border-radius: 4px;
    object-fit: cover;
    height: 160px;
    width: 100%;
  }
}